*

!.gitignore
!.bash_profile
!.zprofile
!readme.md
!.cargo/
!.config/
!.scripts/
!.mozconfigs/
!.homebrew/Brewfile
!Library/Application Support/VSCodium/User/settings.json
!Library/Application Support/pypoetry/config.toml
